$bg-color-200: #100f2e;

.technologies-container {
  width: 100vw;
  height: 42vh;
  background-color: $bg-color-200;

  h1 {
    margin: 0;
    text-align: center;
    padding-top: 4rem;
    font-weight: 800;
    font-size: 2rem;
  }

  .technologies-icons {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    gap: 2rem;

    p {
      padding-top: 1.5rem;
    }

    .icon-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: solid 4px;
      border-radius: 1rem;
      padding: 16px;
      border-color: #242549;
    }
  }
}

@media screen and (max-width: 1440px) {
  .technologies-container {
    width: 100vw;
    height: auto;
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .technologies-icons {
      flex-wrap: wrap;
      padding: 5rem 6rem 4rem 6rem;

      .icon-container {
        width: 80px;
        padding: 14px;
        p {
          font-size: 0.9rem;
          padding-top: 5px;
        }
      }

      .responsive-icon {
        width: 60px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .technologies-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 1.2rem;
      font-weight: 700;
    }

    .technologies-icons {
      width: 90%;
      flex-wrap: wrap;
      padding: 4rem 0 4rem 0;
      .icon-container {
        width: 70px;
        height: 100px;
        padding: 14px;
        p {
          font-size: 0.8rem;
          padding-top: 5px;
        }
      }

      .responsive-icon {
        width: 50px;
      }
    }
  }
}
