$bg-color-100: #131433;
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $bg-color-100;
}

.about-wrap {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

  .about-information {
    text-align: justify;
    width: 50%;

    h1 {
      font-weight: 800;
      font-size: 2rem;
      margin: 0;
      padding-bottom: 2rem;
    }

    p {
      display: flex;
      justify-content: start;
      align-items: center;
      font-weight: 300;
      font-size: 1.125rem;
    }

    a {
      padding-bottom: 0.5rem;
      display: flex;
    }

    #link {
      padding-left: 0.5rem;
    }
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 32rem;
      height: 32rem;
      border-radius: 21px;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 2560px) {
  .about-wrap {
    max-width: 1345px;
  }
}

@media screen and (max-width: 1440px) {
  .about-container {
    .about-wrap {
      max-width: 900px;
      .about-information {
        h1 {
          font-weight: 700;
          font-size: 1.3rem;
        }

        p {
          font-weight: 300;
          font-size: 0.9rem;
        }

        #link {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .img-container {
        img {
          width: 20rem;
          height: 20rem;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .about-container {
    height: auto;
    .about-wrap {
      padding-top: 4rem;
      padding-bottom: 3rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column-reverse;

      .about-information {
        text-align: justify;
        width: 85%;

        h1 {
          font-weight: 700;
          font-size: 1.5rem;
          text-align: center;
          margin: 0;
          padding: 5rem 0 2rem 0;
        }

        p {
          display: flex;
          justify-content: start;
          align-items: center;
          font-weight: 300;
          font-size: 1.125rem;
        }

        a {
          padding: 0.5rem 0 0.5rem 0;
          display: flex;
        }

        #link {
          padding-left: 0.5rem;
        }
      }

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 20rem;
          height: 20rem;
          border-radius: 15px;
          object-fit: cover;
        }
      }
    }
  }
}
